/* general section */
html {
    scroll-behavior: smooth;
}
:root {
    --main-colr:#060940;
    --secound-color:#FC9A71;
}
.space {
    padding: 100px 0;
}
.h2-section {
    text-align: center;
    color: var(--main-colr);
    font-size: 30px;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.h2-section::before {
    content: "";
    width: 100px;
    height: 15px;
    border-top: 1px solid var(--main-colr);
    border-bottom: 1px solid var(--main-colr);
    position: absolute;
    top: 70%;
    transform: translatex(-50%);
}
.h2-section::after{
    content: "";
    width: 200px;
    height: 1.5px;
    background-color: var(--main-colr);
    position: absolute;
    top: 76%;
    transform: translatex(-50%);
}
/* end of the general section */

/* start of header section */
#header {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
     
}
#header .header-caption .hello {
     font-size: 65px; 
    font-weight: 700; 
} 
#header .header-caption a {
    font-size: 25px;
    margin: 20px 5px;
    color:white ;
    transition: .4s all;
}
#header .header-caption a:hover {
    color:var(--secound-color);
}
#header .header-caption  .typed-js {
    font-size: 20px;
    font-weight: 300;
}
@media screen and (min-width:576px) {
    #header .header-caption  .typed-js {
        font-size: 25px;
        font-weight: 350;
    }
}
@media screen and (min-width:768px) {
    #header .header-caption  .typed-js {
        font-size: 30px;
        font-weight: 400;
    }
}
@media screen and (min-width:992px) {
    #header .header-caption  .typed-js {
        font-size: 35px;
        font-weight: 400;
    }
}
@media screen and (min-width:1200px) {
    #header .header-caption  .typed-js {
        font-size: 45px;
        font-weight: 400;
    }
}
/* end of header section */


/* start of navbar */
.navbar .navbar-brand {
    font-size: 25px;
    font-weight: 500;
    color: var(--main-colr);
}
.navbar .nav-link {
    font-size: 18px;
    font-weight: 500;
    margin:0 5px;
    position: relative;
    color: var(--main-colr);
}
@media screen and (min-width:992px) {
    .navbar .nav-link::after {
        content: " ";
        height: 3px;
        width: 0%;
        background-color: var(--main-colr);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .4s all;
    }
    .navbar .nav-link:hover::after {
        width: 100%;
    }
}  
/* end of navbar */

/* start of about section */
#about {
    background-color: #D9D9D9;
}
#about .layer {
    top: 120%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.7); 
    transition: .6s all;
}
#about .figure:hover .layer {
    top: 0;
}
#about .layer a {
    font-size: 40px;
    margin: 0 10px;
    color:white ;
    transition: .4s all;
}
#about .layer a:hover {
    color:var(--secound-color)
}
#about p {
    
    color: var(--main-colr);
    font-weight: 350;
    font-size: 15px;
    line-height: 1.2;
    font-family:'Times New Roman', Times, serif ;
}
@media screen and (min-width:1400px) { 
    #about p {
        line-height: 1.6;
    }
}
#about span {
    color: var(--main-colr);
}
#about .buttons .button {
    padding: 10px 30px;
    margin: 0 5px;
    color: white;
    background-color: var(--main-colr);
    border: 2px solid transparent;
    border-radius: 20px;
}
/* end of about section */

/* start of services section */
#services {
    background-color: #EDF0F2;
}
#services .inner {
    background-color: var(--main-colr);
    color: white;
    padding: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#services .inner h3 {
    color: var(--secound-color);
}
#services p {
    font-size: 18px;
}
/* end of services section */



/* start of experinces section */
#experinces {
    background-color: var(--secound-color);
    color: var(--main-colr);
}
#experinces .progress-bar {
    background-color: var(--main-colr);
    
}
#experinces .prog {
    background-color: #D9D9D9;
}
#experinces h4 {
    font-size: 26px;
    font-weight: 350;
}
#experinces .experinces p{
   font-size: 18px;
   line-height: 1.8;
}
/* end of experinces section */



/* start of projects section */
#projects{
 background-color: #d9d9d995; 
}
#projects .project:hover{
    cursor: pointer;
}
#projects .project {
    position: relative;
}
#projects .layer {
    position: absolute;
    right: 20px;
    left: 20px;
    top: 20px;
    bottom: 20px;
    opacity: 0;
    transition: .4s all;
}
#projects .project:hover .layer {
    opacity: 1;
    right: 7px;
    left: 7px;
    top: 7px;
    bottom: 7px;
}
/* end of projects section */



/* start of contact section */
#contact {
    background-color: var(--main-colr);
}
/* end of contact section */